@use "../mixins" as m;
@use "../setting" as s;

.top {
  font-weight: bold;
}
.hero {
  padding-top: 94px;
  position: relative;
  background-image: url("../../img/ellipse.png");
  background-size: 708px 711px;
  background-position: 120% -50%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: s.$layout-width;
    position: relative;
    padding: 131px 24px 113px;
    margin: 0 auto;
    @include m.mq(md) {
      flex-direction: column-reverse;
      padding: 100px 15px;
    }
  }
  &__heading {
    @include m.mq(md) {
      text-align: center;
    }
  }
  &__title {
    @include m.font-size(32);
    margin-bottom: 38px;
  }
  &__text {
    margin-bottom: 39px;
  }
  &__img-wrapper {
    @include m.mq(md) {
      height: 300px;
      margin-bottom: 30px;
    }
  }
  &__img {
    @include m.mq(md) {
      height: 100%;
    }
  }
}

.feature {
  max-width: s.$layout-width;
  margin: 0 auto;
  &__inner {
    padding: 0 24px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 63px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: s.$color-subtitle;
  }
}

.price {
  background-color: s.$bg-primary;
  padding: 63px 0;
  @include m.mq(md) {
    padding: 63px 15px;
  }
  &__inner {
    max-width: s.$layout-width;
    padding: 0 24px;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    margin-bottom: 63px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: s.$color-subtitle;
  }
  &__table {
    background-color: #fff;
    max-width: 926px;
    border-collapse: collapse;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    margin: 0 auto 20px;
    td {
      border: 1px solid #e5e5e5;
      @include m.font-size(16);
      padding: 30px 20px;
      &:first-child {
        width: 33%;
      }
    }
  }
  &__text {
    text-align: center;
  }
}

.faq {
  padding: 63px 0;
  &__inner {
    max-width: s.$layout-width;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    margin-bottom: 63px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: s.$color-subtitle;
  }
  &__list {
    max-width: 926px;
    margin: 0 auto;
    @include m.mq(md) {
      padding: 0 15px;
    }
  }
  &__question {
    text-align: center;
    @include m.font-size(14);
    padding: 20px 30px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
  &__answer {
    display: none;
    @include m.font-size(14);
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    padding: 20px 30px;
    &.active {
      display: block;
    }
  }
}

.blog {
  padding: 63px 0;
  background-color: s.$bg-primary;
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    margin-bottom: 63px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: s.$color-subtitle;
  }
  &__body {
    display: flex;
    justify-content: space-around;
    @include m.mq(md) {
      display: block;
    }
  }
}

.works {
  padding: 63px 0;
  &__inner {
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    margin-bottom: 63px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: s.$color-subtitle;
  }
}

.contact {
  background-image: linear-gradient(90deg, #05a5fa, #67ffd6);
  padding: 72px 24px;
  @include m.mq(md) {
    padding: 72px 15px;
  }
  &__inner {
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    margin-bottom: 36px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 19px;
    @include m.font-size(32);

    color: #fff;
  }
  &__subtitle {
    line-height: 1;
    @include m.font-size(16);
    color: #fff;
  }
  &__lead {
    color: #fff;
    text-align: center;
    margin-bottom: 44px;
  }
}
