@use "../mixins" as m;
@use "../setting" as s;

.header {
  box-shadow: 0px 3px 6px #00000029;
  background-color: #fff;
  font-weight: bold;
  height: 94px;
  z-index: 10;
  position: fixed;
  width: 100%;
  @include m.mq(md) {
    max-width: 768px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    max-width: s.$layout-width;
    margin: 0 auto;
  }
  &__heading {
    display: flex;
    align-items: center;
  }
  &__logo-wrapper {
    width: 47px;
    margin-right: 14px;
  }
  &__title {
    @include m.font-size(24);
  }
  &__contact {
    @include m.mq(md) {
      display: none;
    }
  }
  &__hamburger {
    display: none;
    @include m.mq(md) {
      display: block;
    }
  }
}
